@{
    ViewBag.Title = "Home Page";
}

<br/>

<div id="grid"></div>

<script>
    $(document).ready(function () {
        function reloadGrid() {
            $('#grid').data('kendoGrid').dataSource.read();
        };

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://localhost:58936/api/Organizations",
                    type: "GET"
                },
                update: {
                    url: "http://localhost:58936/api/Organizations",
                    type: "PUT",
                    complete: reloadGrid
                },
                create: {
                    url: "http://localhost:58936/api/Organizations",
                    type: "POST",
                    complete: reloadGrid
                },
                destroy: {
                    url: "http://localhost:58936/api/Organizations",
                    type: "DELETE",
                    complete: reloadGrid
                }
            },
            pageSize: 20,
            batch: false,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, type: "string" },
                        Name: { type: "string" },
                        Account: { type: "string" },
                        Activity: { type: "string" },
                        ActivityTypeId: { type: "number" }
                    }
                }
            }
        });

        $('#grid').kendoGrid({
            dataSource: dataSource,
            height: 550,
            groupable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            toolbar: ["create"],
            columns: [
                {
                    editable: false,
                    title: "Id",
                    field: "Id"
                },
                {
                    title: "Name",
                    field: "Name"
                },
                {
                    title: "Account",
                    field: "Account"
                },
                {
                    title: "Activity",
                    template: "#: Activity #",
                    field: "ActivityTypeId",
                    editor: ddlEditor
                },
                {
                    title: "Actions",
                    command: [ "edit", "destroy" ]
                }
            ],
            editable: "popup"
        });

        function ddlEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "Name",
                    dataValueField: "Id",
                    dataSource: {
                        type: "GET",
                        transport: {
                            read: "http://localhost:58936/api/ActivityType"
                        }
                    }
                });
        }
    });
</script>